// This small Configure program could be used for Configuring string, integer and double variable.
// There are some simple syntax rules you need to observe.
// Before you configure variable, you should indicate the type by '<' and '>' symbols.
// Annotations could be anywhere provided with '//' Symbol. 
// You could run this program with a command argument: ReadConfig.exe xxx.config
// or input filename of the configure file in the command line after running the program.
// Author: HengShuangLiu
// Link to: hengshuangliu@163.com

<string>
field = ABCD;  // This string variable represents four badminton fields, and named A, B, C, D.


<integer>
// Following variables configure the charge standard.
// timeStart is starting time and timeEnd is end time.
timeStart1 = 9; timeEnd1 = 12;  weekFee1 = 40; workFee1 = 30;
timeStart2 = 12; timeEnd2 = 18;  weekFee2 = 50; workFee2 = 50;
timeStart3 = 18; timeEnd3 = 20;  weekFee3 = 60; workFee3 = 80;
timeStart4 = 20; timeEnd4 = 22;  weekFee4 = 60; workFee4 = 60;


<double>
// Following variables represents cancel fee on the weenkend and on the workday.(rate)
weekendCancel = 0.25;
workdayCancel = 0.5;
